{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="select-oferta" class="container text-center mt-5">
        <select  class="form-select w-50 mx-auto" aria-label="Default select example">
            <option selected>Seleccione una oferta</option>
            {% for o in  escuela%}
                <option value="{{o.oferta}}"> {{o.oferta}}</option>
            {% endfor %}
          </select>
    </div>

        {% for est  in  estudiantes %}
            {{est}}
        {% endfor %}

    <script>
        const selectElement = document.querySelector('#select-oferta');

        const queryStudents = async (oferta) => {

            try {
                const response = await fetch(`/alumnos/${oferta}`)
                const data = await response.json()
                console.log(data)
            }
            catch(error){
                console.log(error)
            }
        }

        selectElement.addEventListener('change', (event) => {
            const resultado = document.querySelector('#select-oferta');
            console.log(`elegiste ${event.target.value}`);
            //queryStudents(event.target.value)
            location.href=`/alumnos/${event.target.value}`
        });
    </script>

{% endblock content %}
