{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="select-oferta" class="container text-center mt-5">
        <select  class="form-select w-50 mx-auto" aria-label="Default select example">
            <option selected>Seleccione una oferta</option>
            {% for offer in  school_offers%}
                <option value="{{offer.anexo}} | {{offer.oferta}}"> Anexo {{offer.anexo}} | {{offer.oferta}}</option>
            {% endfor %}
        </select>
        <div>
            <canvas id="myChart">
                
            </canvas>
        </div>
        
    </div>


    <script>
    /*
        const selectElement = document.querySelector('#select-oferta');

        const queryStudents = async (offer) => {

            try {
                const response = await fetch(`/chart-data/${offer}`)
                const data = await response.json()
                console.log(data)
            }
            catch(error){
                console.log(error)
            }
        }

        selectElement.addEventListener('change', (event) => {
            const resultado = document.querySelector('#select-oferta');
            //console.log(`elegiste ${event.target.value}`);
            //queryStudents(event.target.value)
            location.href=`/school/chart-data/${event.target.value}`
        });
        */

        const selectElement = $('#select-oferta');

        selectElement.on('change', (event) => {
        $.ajax({
                url: `/school/chart-data/${event.target.value}`,
                type: 'GET',
                success: function (data) {
                    console.log(data)
                            var ctx = $("#myChart");
                            var myChart = new Chart(ctx, {
                                type: "bar",
                                data: data,
                                stacked:true,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                callback: function(value, index, values) {
                                                    return value * 100 + '%';
                                                }
                                            }
                                        }]
                                    },
                                    tooltips: {
                                        callbacks: {
                                            label: function(tooltipItem, data) {
                                                var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                                if (label) {
                                                    label += ': ';
                                                }
                                                label += (parseFloat(tooltipItem.yLabel)*100).toFixed(2) + '%';
                                                return label;
                                            }
                                        }
                                    }
                                }
                            });
                        }
            });
        });


    </script>

{% endblock content %}



    <script>

    </script>